<div class="container">
    <div class="">
        <h4><span class="corchete">[ </span> <strong>Garantía de Instalación</strong></h4>
        <p>
            La instalación de tu equipo GPS tiene 3 meses de garantía desde el momento de la visita técnica, siempre y cuando el sello de garantía de la instalación no presente desperfectos. Si tienes problemas con la instalación de tu GPS puedes llamar al <strong>600 361 3000</strong>.
        </p>
    </div>
    <div class="">
        <h4><span class="corchete">[ </span> <strong>Garantía de Equipo GPS</strong></h4>
        <p>
            Tu equipo GPS tiene 12 meses de garantía desde el momento de la instalación, siempre y cuando el sello de garantía de la instalación no presente desperfectos. Si tienes problemas con tu equipo GPS puedes llamar al <strong>600 361 3000</strong>.
        </p>
    </div>
    <div class="">
        <h4><span class="corchete">[ </span> <strong>Roaming GPS</strong> </h4>
        <p>
            Con la Bolsa GPS Roaming podrás gestionar tu flota de vehículos cuando se encuentren en el extranjero.
        </p>
        <p>
            El servicio tiene un costo de $2.990 por vehículo y te permitirá traficar 1MB de datos por mes, lo cual equivale a aproximadamente 1000 eventos. Se recomienda utilizar configuración por defecto para evitar un excesivo consumo de datos.
        </p>
        <p>
            Todos los planes de GPS tienen la funcionalidad de Roaming bloqueada por defecto. Llamando al <strong>*106</strong> desde tu móvil o al <strong>600 361 3000</strong> desde red fija, podrás solicitar el desbloqueo.
        </p>
        <p>
            *Si no contratas una bolsa, los datos que trafiques seráón cobrados a tarifa on-demand (9 USD por MB traficado).
        </p>
    </div>
</div>
