<div class="container">
    <div class="col-md-6">
        <h4><span class="corchete">[ </span><strong>GPS FULL</strong></h4>
        <ul>
            <li>Visualización y localización en línea de la flota.</li>
            <li>Alarmas personalizadas vía SMS y correo electrónico.</li>
            <li>Consultas y reportes sobre:</li>
                <ul>
                    <li>Últimas posiciones</li>
                    <li>Exceso de velocidad</li>
                    <li>Detenciones</li>
                    <li>Encendido y apagado de motor</li>
                    <li>Kilometraje recorrido</li>
                    <li>Reporte de alarmas</li>
                    <li>Estimación de costos por viaje</li>
                    <li>Costo de mantenimiento</li>
                    <li>Costo por distancia</li>
                </ul>
            <li>Construcción de geocercas</li>
        </ul>
        <p>Configuraciones por defecto:</p>
        <ul>
            <li>Full ilimitado: Transmisión cada 1 minutos y cada 1km.</li>
            <li>Full limitado: Transmisión cada 15 minutos y cada 5km.</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4><span class="corchete">[ </span><strong>GPS LITE</strong></h4>
        <ul>
            <li>Visualización y localización en línea de la flota.</li>
            <li>Alarmas personalizadas vía SMS y correo electrónico.</li>
            <li>Consultas y reportes sobre:</li>
                <ul>
                    <li>Listado de eventos</li>
                    <li>Kilometraje recorrido</li>
                    <li>Reporte de vehículos sin posición GPS</li>
                </ul>
            <p>Configuración por defecto:</p>
            <ul>
                <li>Lite instalable y auto-instalable: Transmisión cada 1 minutos</li>
            </ul>
        </ul>
    </div>
</div>
