#btnLogin {
    width: 100%;
}

#login {
    display: block;
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
}

#loginContent {
    float: left;
    width: 100%;
    margin-left: 2%;
}

#loginPage {
    /*padding: 10px 60px 10px 35px;
    margin: 0 auto;*/
}

#olvidopass {
    color: #0154a0;
    font-family: 'Trebuchet MS', Arial;
    font-size: 11px;
    text-decoration: none;
}

form > div {
    margin-top: 8px;
}

input.form-control.input-sm {
    /*width: 255px;*/
    border-radius: 0px;
}

h4 strong {
    color: #0154A0;
    font-size: 16px;
    font-weight: bold;
}

.corchete {
    color: #FF6700;
    font-size: 1.2em;
    font-weight: bold;
}

.entel-btn {
    background-color: #005fb7;
    color: white;
    border-radius: 0px;
}

.entel-btn:hover {
    color: white;
    background-color: #0134A0;
}

.texto_login {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.titulo {
    background-color: #005fb7;
    width: 100%;
}

#login > div > span:nth-child(1) > img {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    margin-bottom: 6px;
    margin-right: 13px;
}

.login_image {
    width: 100%;
}

@media (max-width:767px) {
    #loginContent {
        margin-left: 0;
    }
}

@media (max-width:769px) {
    #loginContent {
        margin-left: 0;
    }
}

@media (min-width:1024px) {

    #loginContent {
        margin-left: 0;
    }
}
