<div class="container" id="contactPage">
    <div id="parrafoContact">
        <h2><span class="corchete">[</span> Contáctenos</h2>
        <p>Si desea obtener más información de este servicio, por favor Contáctenos al <strong>600 3600 030</strong> o envíenos un email completando la información de su Empresa en el siguiente formulario.</p>
        <p>Un ejecutivo empresas se contactará con usted a la brevedad.</p>
    </div>
    <div data-ng-include src="'modules/contact/views/contact.form.html'"></div>
</div>


